<div class="body">
  <h1>Welcome to Chirpus Pizza</h1>
  <div class="main">
    <div
    *ngFor="let item of menuItems"
    [ngClass]="{ 'sold-out': item.soldOut }"
    class="display-div"
  >
    <div>
      <span>{{ item.name }}</span>

      <span *ngIf="item.soldOut" class="sold-out-text">SOLD OUT</span>
    </div>
    <div class="category-div">Category: {{ item.category }}</div>
    <div class="price-div">Price: ${{ item.price }}</div>
    <!-- <span *ngIf="item.vegetarian">🌿 vegetarian</span> -->
    <div *ngIf="item.vegetarian" class="veg">vegetarian</div>
    <!-- <span *ngIf="item.vegetarian">vegetarian</span> -->
    <button [disabled]="item.soldOut" (click)="addToOrder(item.price)">
      Add to order
    </button>
  </div>
  <hr>
  <div>
    <h2>Current Order Cost: ${{ total }}</h2>
  </div>
  </div>
 
</div>
